<h3 style="text-align:center">Welcome <%= current_user.username %></h3>

<br>
<br>
<h5>You Are Currently The Driver of _blank_ Number of Trips</h3>
<h5>You Are Currently The Passenger of _blank_ Number of Trips</h3>