/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.trip_list th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.wrapper-wrapper {
    overflow-y: auto;
    height: 700px;
}

.wrapper-wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.wrapper-wrapper::-webkit-scrollbar:vertical {
    width: 11px;
}

.wrapper-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.asc { background-image: url(up_arrow.gif); }
.desc { background-image: url(down_arrow.gif); }


body { 
    padding-top: 65px; 
}